{include file="common/header"/}<!--头部-->
<link rel="stylesheet" href="__PUBLIC__/home/css/supersized.css?{:mt_rand(1,90)}" type="text/css" media="screen"/>
<body>
<div class="login_box">
    <div class="login_title tc"><a href="{:url('index/index')}">用户注册</a></div>
    <!--<input type="text" name="nickname" id="nickname" placeholder="昵称" class="login_input login_input_box login_spacing animated fadeInUp">-->
    <input type="text" name="user_name" id="user_name" placeholder="用户名（字母开头包含数字或下划线不超过20位）" class="login_input login_input_box login_spacing animated fadeInUp">
    <input type="password" name="password" id="password" placeholder="请输入密码（大于8位小于20位）" class="login_input login_input_box login_spacing animated fadeInUp">
    <input type="password" name="re_password" id="re_password" placeholder="请再次输入密码（大于8位小于20位）" class="login_input login_input_box login_spacing animated fadeInUp">
    <input type="text" name="Email" id="Email" placeholder="Email"
           class="login_input login_input_box login_spacing animated fadeInUp">
    <div class="login_input login_spacing animated fadeInUp">
        <input type="text" name="verify_code" id="verify_code" placeholder="输入验证码" class="Verify_input login_input_box fl">
        <button class="login_btn fr Verify_input" id='Verify_btn' data-btn-verify-code="{$BtnVerifyCode}">发送邮件获取验证码
        </button>
    </div>
    <div class="cl"></div>
    <button class="from_Btn login_btn login_spacing animated fadeInUp" id="register-btn">注　　册</button>
    <div class="login_input redirect_reg tr animated fadeInUp"><a href="{:url('/login')}">已有账号？立即登陆 ></a></div>
</div>
<script src="__PUBLIC__/home/js/user/Sawyer_landing_related.js?{:mt_rand(1,90)}"></script>
<script src="__PUBLIC__/home/js/supersized.3.2.7.min.js?{:mt_rand(1,90)}"></script>
<script src="__PUBLIC__/home/js/supersized-init.js?{:mt_rand(1,90)}"></script>
</body>
</html>