{include file="common/header"/}<!--头部-->
<body>
<div class="Header animated fadeInUp pt">
    {include file="common/menu"/}<!--头部-->
</div>
<div class="WelcomeSlogan">
    <div class="title">
        <div class="line animated fadeInLeft no-select">Sawyer's</div>
        <div class="line animated fadeInRight no-select" style="text-indent: 130px;padding-top: 10px;">
            Home
        </div>
    </div>
</div>
<div class="HotTopic">
    <div class="Hot_line_first animated fadeInUp">
        <div class="Hot_title">热门话题</div>
    </div>
    <div class="Hot">
        {volist name='$articleListData' id='vo' offset="1" length='5'}
        <div class="Hot_line animated fadeInUp">
            <a href="{:url('/details/'.$vo.id)}">
                <div class="project_title">{$vo.title}</div>
                <div class="project_info">{$vo.label_name}</div>
            </a>
        </div>
        {/volist}
        <div class="Hot_line animated fadeInUp">
            <a href="#">
                <div class="project_title">更多话题</div>
                <div class="project_info">more >></div>
            </a>
        </div>
    </div>
</div>
<div class="Footer">
    <div class="Footer_inner animated fadeInUp">
        <div class="">Welcome To <a href="#">WithSawyer</a></div>
    </div>
</div>
</body>
</html>