{include file="common/header"/}<!--头部-->
<body>
<div class="Header animated fadeInUp pt">
    {include file="common/menu"/}<!--头部-->
</div>
<div class="WelcomeSlogan">
    <div class="title">
        <div class="line animated fadeInLeft no-select">asdsadsadsadsa</div>
        <div class="line animated fadeInRight no-select" style="text-indent: 130px;padding-top: 10px;">
            asdasdsadsadsadsa
        </div>
    </div>
</div>
<div class="HotTopic">
    <div class="Hot_line_first animated fadeInUp">
        <div class="Hot_title">热门话题</div>
    </div>
    <div class="Hot">
        <div class="Hot_line animated fadeInUp">
            <a href="#">
                <div class="project_title">asdsad</div>
                <div class="project_info">asdsa</div>
            </a>
        </div>
        <div class="Hot_line animated fadeInUp">
            <a href="#">
                <div class="project_title">asdsad</div>
                <div class="project_info">asdsa</div>
            </a>
        </div>
        <div class="Hot_line animated fadeInUp">
            <a href="#">
                <div class="project_title">asdsad</div>
                <div class="project_info">asdsa</div>
            </a>
        </div>
    </div>
</div>
<div class="Footer">
    <div class="Footer_inner animated fadeInUp">
        <div class="">Welcome To <a href="">WithSawyer</a></div>
    </div>
</div>
</body>
</html>